:root{
  --bg: #222;
  --panel: #23233b;
  --accent: #fec260;
  --muted: #393956;
  --text: #fff;
}

*{box-sizing:border-box}
body {
  background: var(--bg);
  color: var(--text);
  text-align: center;
  font-family: Inter, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 18px;
}

h1{ color:var(--accent); margin-bottom:12px }

#game-ui {
  display: inline-block;
  text-align: left;
}

canvas {
  border: 3px solid var(--accent);
  background: var(--muted);
  display: block;
  margin: 0 auto 10px auto;
  image-rendering: pixelated; /* para pixel art */
}

#hud {
  background: var(--panel);
  border-radius: 6px;
  padding: 8px 12px;
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--text);
  min-width: 350px;
}

#controls {
  text-align: center;
  margin-bottom: 8px;
}

#controls button {
  background: var(--accent);
  color: #111;
  border: none;
  padding: 8px 12px;
  margin: 4px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

#log {
  background: rgba(255,255,255,0.03);
  color: #ddd;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  height: 90px;
  width: 350px;
  overflow-y: auto;
}
